.calculator{
    .form__field:invalid {
        border-color: #767f7f;
        &::placeholder{
            color: #767f7f;
        }
    }
}

.form__field:invalid, select {
    border-color: #e2e2e2;
    &::placeholder{
        color: #767f7f;
    }
}
